@charset "utf-8";

body {
    width: 100%;
    height: auto;
    min-width: 393px;
    background-image: linear-gradient(#74857f, #9db3ac 65%, #74857f);
}

.border {
    border-top: 30px solid #9f91ac;
    border-bottom: 30px solid #9f91ac;
}

h1 {
    color: #fff;
    text-align: center;
    padding: 100px 0 0;
    font-size: 4.8em;
    font-family: "Kaisei Decol", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: #fff;
    text-align: center;
    padding: 100px 0 0;
    font-size: 3em;
    font-family: "Kaisei Decol", serif;
    font-weight: 400;
    font-style: normal;

}

p {
    text-align: center;
    margin: 30px auto 0;
}

.close_top {
    width: 100%;
    min-width: 393px;
    height: 100vh;
    background-image: url(../img/SP_topclose.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 0;
}

.close {
    width: 100%;
    display: flex;
    z-index: 2;
}

.left {
    width: 580px;
    height: 580px;
    background-image: url(../img/SP_leftclose.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    z-index: 2;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    width: 580px;
    height: 580px;
    background-image: url(../img/SP_rightclose.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    z-index: 2;
}

#vertical {
    writing-mode: vertical-rl;
    margin: -500px auto 0;
    color: white;
    font-size: 4.8em;
    font-family: "Kaisei Decol", serif;
    font-weight: 400;
    font-style: normal;
}

.button {
    text-align: center;
    margin: 50px 0 0px;
    padding-bottom: 100px;
    z-index: 3;
}

a {
    display: inline-block;
    position: relative;
    z-index: 3;
}

.button_img {
    width: 300px;
    height: 220px;
    background-image: url(../img/SP_stone.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 3;
}

.right_size {
    width: 240px;
    height: auto;
    margin-top: -38px;
}

@media screen and (min-width:960px) {
    body {
        background-image: linear-gradient(#738da4, #88a8c3 65%, #738da4);
    }

    .close_top {
        background-image: url(../img/TB_topclose.png);
    }

    .left {
        width: 580px;
        height: 680px;
        background-image: url(../img/TB_leftclose.png);
    }

    .right {
        width: 580px;
        height: 680px;
        background-image: url(../img/TB_rightclose.png);
    }

    #vertical {
        margin: -600px auto 0;
    }

    .button {
        margin: 50px 0 0;
    }

    .button_img {
        width: 360px;
        height: 280px;
        background-image: url(../img/TB_stone.png);
    }

    .right_size {
        width: 300px;
        margin-top: -43px;
    }


}

@media screen and (min-width:1080px) {
    body {

        background-image: linear-gradient(#d1aa82, #f9c897 65%, #d1aa82);
    }

    .close_top {
        background-image: url(../img/PC_topclose.png);
    }

    .left {
        width: 580px;
        height: 870px;
        background-image: url(../img/PC_leftclose.png);
    }

    .right {
        width: 680px;
        height: 870px;
        background-image: url(../img/PC_rightclose.png);
    }

    #vertical {
        writing-mode: horizontal-tb;
        text-align: center;
        margin: -700px auto 0;
    }

    .button {
        margin: 60px 0 0;
    }

    .button_img {
        width: 430px;
        height: 330px;
        background-image: url(../img/PC_stone.png);
    }

    .right_size {
        width: 350px;
        margin-top: -50px;
    }


}